# Project X

In [2]:
import os
import json

import re
import pandas as pd
import numpy as np

In [77]:
with open('training_set.json') as f:
  json_data = json.load(f)

In [78]:
data = pd.json_normalize(json_data['data'], ['paragraphs'])
data

                                                 context                                                qas
0      Architecturally, the school has a Catholic cha...  [{'answers': [{'answer_start': 515, 'text': 'S...
1      As at most other universities, Notre Dame's st...  [{'answers': [{'answer_start': 248, 'text': 'S...
2      The university is the major seat of the Congre...  [{'answers': [{'answer_start': 119, 'text': 'R...
3      The College of Engineering was established in ...  [{'answers': [{'answer_start': 487, 'text': 'e...
4      All of Notre Dame's undergraduate students are...  [{'answers': [{'answer_start': 496, 'text': 'L...
...                                                  ...                                                ...
18891  Institute of Medicine, the central college of ...  [{'answers': [{'answer_start': 46, 'text': 'Tr...
18892  Football and Cricket are the most popular spor...  [{'answers': [{'answer_start': 0, 'text': 'Foo...
18893  The total length of roads in Nepal is recorded...  [{'answers': [{'answer_start': 54, 'text': '17...
18894  The main international airport serving Kathman...  [{'answers': [{'answer_start': 71, 'text': 'Tr...
18895  Kathmandu Metropolitan City (KMC), in order to...  [{'answers': [{'answer_start': 229, 'text': 'O...

[18896 rows x 2 columns]

In [80]:
temp = []
context_dict = {}

for i, row in data.iterrows():
  context_dict[i] = row['context']
  for qa in row['qas']:
    question_id = qa['id']
    question = qa['question']
    for answer in qa['answers']:
      temp.append([question_id, question, answer['text'], i])

df = pd.DataFrame(temp, columns=['question_id', 'question', 'answer', 'context'])

df

                    question_id  ... context
0      5733be284776f41900661182  ...       0
1      5733be284776f4190066117f  ...       0
2      5733be284776f41900661180  ...       0
3      5733be284776f41900661181  ...       0
4      5733be284776f4190066117e  ...       0
...                         ...  ...     ...
87594  5735d259012e2f140011a09d  ...   18895
87595  5735d259012e2f140011a09e  ...   18895
87596  5735d259012e2f140011a09f  ...   18895
87597  5735d259012e2f140011a0a0  ...   18895
87598  5735d259012e2f140011a0a1  ...   18895

[87599 rows x 4 columns]